/* ==========================================================================
   About Section Styles (for scrolling single-page layout)
   ========================================================================== */

#about-me {
    display: grid;
    grid-template-columns: auto auto;
}

#about-me aside {
    grid-column: 1;
}

#about-me .button-content {
    grid-column: 2;
}

/* *************************************************** ASIDE STYLES *************************************************** */
#about-me h1 {
    font-size: 45px;
    color: #AC1313;
}

#about-me h2 {
    font-size: 25px;
}

#about-me span > h2 {
    font-size: 20px; 
    display: inline; 
    vertical-align: middle;
}

#about-me span > h3 {
    font-size: 16px; 
    opacity: 50%; 
    display: inline; 
    vertical-align: middle;
}

/* *************************************************** BUTTON DIV STYLES *************************************************** */

.buttons-container {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.buttons-container button {
    /* Size of Cards */
    width: 230px;
    height: 135px;
}

#personal-statement-btn {
    /* Place in the first column and first row*/
    grid-column: 1; 
    grid-row: 1;  
}

#blog-btn {
    /* Place in the second column and middle of 4 rows */
    grid-column: 2; 
    grid-row: 2/4; 

    /* align to the start of the grid cell*/
    align-self: center; 
    justify-self: center;
}

#other-things-btn {
    /* Place in the first column and fourth row */
    grid-column: 1; 
    grid-row: 4; 
}