/* Import custom font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

/* Root layout styles*/
html, body {
  width: 100%;                    /* 100% of display width */
  height: 100vh;                  /* Entire of height of view port */

  /* Set all margins and padding to 0*/
  margin: 0;
  padding: 0;
  
  overflow-x: hidden;             /* Prevent horizontal scroll */
  overflow-y: scroll;             /* Allow vertical scrolling */
  scroll-snap-type: y mandatory;  /* Enable vertical scroll snapping */
  

  font-family: 'Martian Mono', monospace;   /* Apply custom monospace font to all text*/
}

/* *************************************************** HEADER STYLES *************************************************** */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;

  background-color: rgba(255, 255, 255, 0.8);   /* Slightly transparent white */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);     /* Subtle drop shadow*/
  z-index: 1000;                                  /* Keep header on top of content */
}

/* Navigation container */
nav {
  padding: 0px 0px;
  box-sizing: border-box;
}

/* Navigation list */
nav ul {
  max-width: 100%;

  padding: 0 18px 0 0;        /* 18px Padding Right */
  margin: 0;
  gap: 18px;

 
  display: flex;
  overflow-x: auto;         /* Allow scrolling on smaller viewports*/

  list-style: none;
}

/* Navigation links */
nav a {
  text-decoration: none;
  font-size: 13px;
  color: #333;
  padding: 2px 10px;
  transition: background-color 0.3s, color 0.3s;
  display: block;
}

/* Hover and active link states */
nav a:hover {
  color: rgba(139, 125, 107, 0.8);  /* Light brown however*/
}

nav a:active {
  color: #AC1313; /* Crimson red for active link */
}

/***************************************************** MAIN SECTION STYLES *****************************************************/
main {
  display: flex;
  flex-direction: column;   /* Stack child sections vertically */
}

/* Full-height scrollable section */
.slide {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* center vertically */

  scroll-snap-align: start; /* Anchor this section at the top of viewport on scroll */
}

h1 {
  font-size: 45px;
  color: #AC1313;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  
  background-color: #AC1313;
  color: white;
  text-align: center;
  border: none;

  box-shadow: 15px 15px black;    /* Strong box shadow for 3D effect */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Button hover effects */
button:hover {
  transform: translateY(-5px);          /* Slight lift on hover */
  box-shadow: 8px 8px 15px #FB9B00;   /* Larger, softer shadow */
}