/* ==========================================================================
   Body Styles (for scrolling single-page layout)
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    /* 100% of display width */
    height: 100vh;
    /* Entire of height of view port */

    /* Set all margins and padding to 0*/
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */

    background-color: #0A090C;
    color: #F0EDEE;
}

p {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.1rem;
}

h1, h2, a, figcaption {
    font-weight: 300;
}

/* *************************************************** HEADER STYLES *************************************************** */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
   
    /* Subtle drop shadow*/
    z-index: 1000;
    /* Keep header on top of content */
}

/* Navigation list */
nav ul {
    max-width: 100%;

    padding: 0 1.8rem 0 0;
    /* 18px Padding Right */
    margin: 0;
    gap: 18px;


    display: flex;
    /* Display list in a row */
    float: right;
    /* Align list to the right */
    overflow-x: auto;
    /* Allow scrolling on smaller viewports*/

    list-style: none;
}

/* Navigation links */
header a {
    padding: .2rem 1rem;

    text-decoration: none;
    font-family: "Zilla Slab", serif;
    font-size: 1.4rem;
    color: #F0EDEE;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover link state */
nav a:hover {
    color: #564d4a;
}

header nav ul li a.active {
    color: #F24333;
    text-decoration: underline;
}

/* ==========================================================================
      Main Styles (for scrolling single-page layout)
      ========================================================================== */

main {
    display: flex;
    flex-direction: column;
    /* Stack child sections vertically */
}

/* Full-height scrollable section */
.slide {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;

    /* scroll-snap-align: start; */


    padding: 2rem;
    /* Add padding for all slides */
    box-sizing: border-box;
    /* Include padding in element's total width and height */
}

/* *************************************************** BUTTON STYLES *************************************************** */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;


    background-color: #AC1313;
    color: white;
    text-align: center;
    border: none;

    box-shadow: 1.5rem 1.5rem black;
    /* Strong box shadow for 3D effect */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button h4 {
    font-size: 1.6rem;
}


/* Button hover effects */
button:hover {
    transform: translateY(-.5rem);
    /* Slight lift on hover */
    box-shadow: .8rem .8rem 1.5rem #FB9B00;
    /* Larger, softer shadow */
}


/* *************************************************** CONSTRUCTION STYLES *************************************************** */

#projects img {
    display: block;
    margin: 0 auto;
    /* centers the image horizontally */
}

#education-and-experience img {
    display: block;
    margin: 0 auto;
    /* centers the image horizontally */
}

/* ==========================================================================
   About Section Styles (for scrolling single-page layout)
   ========================================================================== */

#about-me {
    display: grid;
    grid-template-columns: auto auto;

    justify-content: center;
}

#about-me .about-info {
    grid-column: 1;
    width: 40rem;

    padding-right: 2rem;
}

#about-me .photo-info  {
    grid-column: 2;
}

/* *************************************************** ABOUT INFO DIV STYLES *************************************************** */

.about-info h1 {
    font-family: "Zilla Slab Highlight", serif;
    font-size: 5rem;
    color: #F0EDEE;

}

.about-info h2 {
    font-family: "Zilla Slab", serif;
    font-size: 2.5rem;
}

.about-info h2 span {
    font-family: "Zilla Slab", serif;
    font-size: 2.5rem;
    color: #7C9395;
}

/* *************************************************** ABOUT PHOTO DIV STYLES *************************************************** */

.about-photo img {
    width: 35rem;
    height: 30.5rem;

    display: block;
    border: 1rem solid #7C9395;
    box-shadow: 26px -26px #F0EDEE;
}

.about-photo figcaption {
    font-family: "Zilla Slab", serif;
    font-size: 2rem;
    color: #2C666E;

    text-align: center;
}

