/* =======================================================================================================================================
   Body Styles (for scrolling single-page layout)
   ======================================================================================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    /* 100% of display width */
    height: 100vh;
    /* Entire of height of view port */

    /* Set all margins and padding to 0*/
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */

    background-color: #0A090C;
    color: #F0EDEE;
}

p {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.1rem;
}

h1, h2, a, figcaption {
    font-weight: 300;
}

h2 {
    font-family: "Zilla Slab", serif;
    font-size: 2.5rem;
}

/* *************************************************** HEADER STYLES *************************************************** */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
   
    /* Subtle drop shadow*/
    z-index: 1000;
    /* Keep header on top of content */
}

/* Navigation list */
nav ul {
    max-width: 100%;

    padding: 0 1.8rem 0 0;
    /* 18px Padding Right */
    margin: 0;
    gap: 18px;


    display: flex;
    /* Display list in a row */
    float: right;
    /* Align list to the right */
    overflow-x: auto;
    /* Allow scrolling on smaller viewports*/

    list-style: none;
}

/* Navigation links */
header a {
    padding: .2rem 1rem;

    text-decoration: none;
    font-family: "Zilla Slab", serif;
    font-size: 1.4rem;
    color: #F0EDEE;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover link state */
nav a:hover {
    color: #564d4a;
}

header nav ul li a.active {
    color: #F24333;
    text-decoration: underline;
}

/* =======================================================================================================================================
    Main Styles (for scrolling single-page layout)
    ====================================================================================================================================== */

main {
    display: flex;
    flex-direction: column;
    /* Stack child sections vertically */
}

/* Full-height scrollable section */
.slide {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;

    /* scroll-snap-align: start; */


    padding: 2rem;
    /* Add padding for all slides */
    box-sizing: border-box;
    /* Include padding in element's total width and height */
}

/* *************************************************** BUTTON STYLES *************************************************** */


button {
    padding: 1rem 2rem;

    display: flex;
    justify-content: center;

    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-size: 2rem;
    
    color: #F0EDEE;
    border: .1rem solid #F0EDEE;
    background-color: #0A090C;

}

button:hover {
    cursor: pointer;

    transform: translateY(-5px);              /* Slightly move up on hover */
    background-color: #F0EDEE;
    color: #0A090C;
    transition: transform 0.3s ease;          /* Smooth transition */
    box-shadow: 8px 8px 15px #2c666e;       /* Create a redish shadow */
}

/* =======================================================================================================================================
   About Section Styles (for scrolling single-page layout)
   ======================================================================================================================================= */

#about-me {
    display: grid;
    grid-template-columns: auto auto;

    justify-content: center;
}

#about-me .about-info {
    grid-column: 1;
    width: 40rem;

    padding-right: 2rem;
}

#about-me .photo-info  {
    grid-column: 2;
}

/* *************************************************** ABOUT INFO DIV STYLES *************************************************** */

.about-info h1 {
    font-family: "Zilla Slab Highlight", serif;
    font-size: 5rem;
    color: #F0EDEE;

}

.about-info h2 span {
    font-family: "Zilla Slab", serif;
    font-size: 2.5rem;
    color: #7C9395;
}

/* *************************************************** ABOUT PHOTO DIV STYLES *************************************************** */

.about-photo img {
    width: 35rem;
    height: 30.5rem;

    display: block;
    border: 1rem solid #7C9395;
    box-shadow: 26px -26px #F0EDEE;
}

.about-photo figcaption {
    font-family: "Zilla Slab", serif;
    font-size: 2rem;
    color: #F0EDEE;

    text-align: center;
}

/* =======================================================================================================================================
   Education and Experince Section Styles (for scrolling single-page layout)
   ======================================================================================================================================= */

#education-and-experience img {
    display: block;
    margin: 0 auto;
    /* centers the image horizontally */
}

/* =======================================================================================================================================
   Projects Section Styles (for scrolling single-page layout)
   ======================================================================================================================================= */

#projects img {
    display: block;
    margin: 0 auto;
    /* centers the image horizontally */
}

/* =======================================================================================================================================
   Contact Me Section Styles (for scrolling single-page layout)
   ======================================================================================================================================= */


#contact-me {
   display: grid;
   grid-template-columns: auto auto;        /* Two columns one for the form and the other for links */
}

/* *************************************************** Contact FORM STYLES *************************************************** */

.email-communication {
    grid-template-columns: 1;

    width: 45rem;
    margin: 0px auto;               /* Center the section */

    text-align: center;             /* Center header */
}

#contact-me form {
    padding: .8rem;

    background-color: #F0EDEE;
    box-shadow: 2rem -2rem #7c9395;
}

.contact-inputs {
    width: 100%;
    
    padding: 1rem;
    margin-top: .5rem;

    border: none;
    border-bottom: 2px solid #7d7b7d;
    background-color: #F0EDEE;
   
    font-family: "Noto Sans", sans-serif;                       /* Change font of input holder text */
    
    box-sizing: border-box;
    transition: border-bottom-color 0.3s, color 0.3s ease;      /* Smooth transition for focus effect */
}

.contact-inputs:focus {
    outline: none;                          /* Remove the default focus outline */
    color: #564d4a;
    border-bottom: 2px solid #46b393;
}

.contact-inputs:focus::placeholder {        /* select the input when focus then select the placeholder */
    color: #46b393;
}

/* Name and Email inputs to dispaly next to each other */
.required-inputs {
    width: 100%;
    display: flex;
    gap: 0.5rem;                    /* This creates the space between the divs */
    box-sizing: border-box;
}

.required-inputs > div {
    width: calc(50% - 0.25rem);     /* Each div takes up roughly half the width minus half the gap */
}

textarea.contact-inputs {
    height: 15rem;                  /* Adjust textarea height */
    resize: none;                   /* No vertical resizing */
}

.error-txt {
    margin-top: .4rem;
    text-align: left;               /* Align error text to the left */
    
    display: none;

    font-size: 0.8em;
    color: #f24333;
}

.email-communication button {
    width: 20rem;                    /* Adjust width based on content */

    padding: 0px 2rem;
    margin-top: 2rem;
}


/* *************************************************** LINK STYLES *************************************************** */

/* Display Content vertically in colum 2 */
.other-communication {
    grid-template-columns: 2;

    gap: 3rem;

    display: flex;
    flex-direction: column;
}

.communication-link {
    display: inline-flex;       /* Line up the link names with their logos */
    align-items: center;        /* Center them with the logos */

    text-decoration: none;
    color: #F0EDEE;
    font-family: "Zilla Slab", serif;
    font-size: 2.3rem;
    font-style: italic;
}

.communication-link img {
    width: 5rem;
    height: 5rem;

    margin-right: 1rem;
}

.communication-link:hover {
    opacity: 70%;               /* Allows the hover to work on img and a elements at same time*/
}