/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*
* GLOBAL PROPERTIES: Fonts & Colors
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/rasputin');

:root {
    --bg-color: #ffffff;
    --primary-color: #e93f00;
    --secondary-color: #ffed00;
    --accent-color: #0000ff;
    --white-color: #ffffff;
    --black-color: #000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*
* MASS RESETS: Margins, Padding, Gaps, Fonts, Links, Buttons & Box Sizing
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;

    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;

    font-size: 16px;
}

button {
    all: unset;
}

a {
    all: unset;
}

h1,
h2 {
    font-family: "rasputin", sans-serif;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*
* SECTION MANAGMENT: Grid Container (nav, aside, main), Main, Body, and Slides
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
    width: 100%;
    height: 100vh;

    background-color: var(--bg-color);
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
    grid-template-columns: min-content 1fr;

    grid-template-areas:
        "nav nav"
        "aside main";
}

main {
    width: 100%;
    height: 100vh;

    grid-area: main;
    /* scroll-snap-type: y mandatory; */
}


.slide {
    width: 100%;
    height: 100vh;

    /* scroll-snap-align: start; */

    display: flex; /* align-items: center; */

    padding: 4rem; /* 64 px */
}

@media (max-width: 791px) {

    .about,
    .projects,
    .contact-me {
        margin-top: 15rem;
        /* 240 px*/
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*
* NAVIGATION: Nav Grid Location, Nav Links, Nav Menu Button, Smaller Screen Styling
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav {
    grid-area: nav;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5625rem; /* 25 px */

    z-index: 10000;
}

.name-pronunciation a {
    color: var(--black-color);
    font-size: 1rem;

    padding: 0.3125rem;
    /* 5 px */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 3.75rem; /* 60 px */
    position: relative;
}

.nav-links a {
    color: var(--black-color);

    font-size: 1rem;
    position: relative;
    padding: .625rem; /* 10 px */
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.nav-links a.active {
    color: var(--primary-color);

    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: .125rem; /* 2 px */
    text-decoration-style: wavy;

    text-underline-offset: 0.3125rem; /* 5 px */
}

.menu-button .line {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform-origin: center;
}


.menu-button:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.menu-button.active .top {
    transform: translateY(3.6px) translateX(-3.5px) rotate(45deg);
}


.menu-button.active .middle {
    opacity: 0;
}


.menu-button.active .bottom {
    transform: translateY(-5px) translateX(-3.5px) rotate(-45deg);
}

.menu-button {
    display: none;
}

@media (max-width: 791px) {
    nav {
        grid-area: nav;
        text-transform: uppercase;
    }

    .menu-button {
        display: block;
        z-index: 20000;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        justify-content: center;
        align-items: center;
        box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease-in-out;
    }

    .menu-icon {
        display: block;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: .9375rem 0; /* 15 px 0 px*/
    }

    .nav-links a {
        font-size: 1.625rem; /* 26 pixe.s */
        font-weight: bold;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*
* ASIDE: Aside Grid Location, Icon Sizes
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
aside {
    grid-area: aside;

    right: 0;
    padding-left: 1rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    left: 1.1875rem; /* 19 px*/
    margin-top: 91%;
    transform: translate(30%);
    width: 3.4375rem; /* 55 px */
    height: auto;
}

.social-links a {
    color: var(--black-color);

    font-size: 1.875rem; /* 30 px 0 px*/
    margin: .8125rem 0; /* 13 px 0 px*/
    transition: color .03s;
}

.social-links a:hover {
    color: var(--primary-color);
    cursor: pointer;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*
* MAIN & SECTION: futher needed styling
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.section-heading {
    display: block;
    place-items: center;

    text-align: center;
}

.section-heading h2 {
    font-size: 2.5rem; /* 40 px*/

    padding-bottom: .5rem; /* 8 px */
}

.section-heading::after {
    content: '';
    display: block;
    width: 150px; /* 150 pixes*/
    height: .25rem; /* 150 pixes*/
    background-color: var(--primary-color);

    margin-top: 2.5rem; /* 150 pixes*/

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*
* SECTION #1: Home
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-branding h1 {
    font-size: 3.175rem; /* 50.8 px */

    padding-bottom: .625rem; /* 50.8 px */
}

.home-branding h2 {
    color: var(--primary-color);
    font-size: 1.35rem; /* 21.9 px */

    padding-bottom: 1.25rem; /* 20 px*/
}

.home-branding button {
    padding-top: .625rem;
    /* 10 px */
    background-color: var(--primary-color);

    font-family: "DM Sans", sans-serif;
    border: none;
    border-radius: 2.875rem; /* 46 px */
    color: var(--bg-color);

    padding: 0.5rem 2rem; /* 8 px 32 px*/
    text-align: center;
    text-decoration: none;
    margin: 1.875rem 0; /* 30 px 0 px*/
    display: inline-block;
    font-size: .84375; /* 15.1 px*/

    transition: right 0.3s ease-in-out;

    cursor: pointer;
}

.home-branding button:hover {
    background-color: var(--accent-color);
}

.home-images {
    position: relative;
}

.home-images img {
    display: flex;
    flex-direction: column;
}

.home-images .starburst {
    width: 27.5rem; /* 440 px*/
    height: auto;

    padding-left: 3.125rem; /* 50 px*/
}

.tenneh-kanneh {
    position: absolute;
    top: 0;
    left: 0;
    width: 23.5625rem;
    /* 377 px*/
    height: auto;
}

@media (max-width: 1040px) {
    .home {
        flex-direction: column;
        text-align: center;

        justify-content: center;
        align-items: center;

        margin-top: 9.5%;
    }

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*
* SECTION #3: Projects
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.projects {
    display: block;
}

.projects-content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1.5625rem; /* 25 px*/
    gap: 3.125rem; /* 50 px */
}

.projects-list {
    gap: 2rem;
}

.project-highlight {
    padding: 1.25rem; /* 20 px*/

    border: .9375rem solid transparent; /* 15 px */
    border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none" stroke="%23e93f00" stroke-width="5"><path d="M40 0h20M40 100h20M0 40v20M100 40v20"/></svg>') 15 stretch;
    ;
}

.project-highlight img {
    width: 22.125rem; /* 354 px*/
    width: 22.125rem; /* 354 px*/

    display: block;
}

.project-choice h3.active {
    color: var(--primary-color);
}


.project-choice:hover {
  transform: translateY(-5px) scale(1.02); 
  box-shadow: 0 .5rem 1.25rem rgba(0, 0, 0, 0.3); /* 0 8px 20px */
}

.skills-used {
    padding-top: .5rem; /* 8 px*/
    align-items: start;

    gap: 0.5rem; /* 8 px */

    display: inline-flex;
}

.skills-used span {
    padding: .3125rem; /* 5px */

    margin: .125rem; /* 2 px*/
    border-radius: 1rem; /* 16 px */

    background-color: var(--secondary-color);
    color: var(--black-color);

    font-size: .75rem; /* 12 px*/
    display: inline-block;
}

.project-name {
    font-size: 1.10625rem; /* 17.7 px*/
}

.project-choice {
    padding: .9375rem; /* 15 px */
}

.projects-link {
    font-size: 1.10625rem; /* 17.7 px*/
    margin-top: 1.25rem; /* 20 px */

    /* display: inline-block;
    position: relative; */

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-link:hover {
    transform: translateY(-4px);
    text-shadow: 0 .35rem .75rem rgba(0, 0, 255, 0.55); /* 0px 4px 12 px*/
    
    cursor: pointer;
}

.projects-link:hover span {
    text-decoration: var(--accent-color) underline;
    text-underline-offset: .5rem; /* 8 px */ 

}

@media (max-width: 1040px) {
    .projects {
        text-align: center;
    }

    .projects-content {
        flex-direction: column;
        justify-content: center;
    }

    .project-highlight {
        display: none;
    }


}