<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tenneh Kanneh | About</title>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <section class="about-container">
    <aside class="gen-info">
      <h1>Tenneh Kanneh</h1>
      <h2 style="font-size: 25px;">Software Developer</h2>
      <span>
        <h2 style="font-size: 20px; display: inline; vertical-align: middle;">Boise State University</h2>
        <h3 style="font-size: 16px; opacity: 50%; display: inline; vertical-align: middle;">
          Computer Science</h3>
      </span>
    </aside>

    <!----------------------------- START OF: Clickable Buttons ------------------------------->
    <div class="about-content">

      <!-- Buttons for each section -->
      <div class="buttons-container">
        <button id="personal-statement"><h4>PERSONAL STATEMENT</h4></button>
        <button id="blog"><h4>BLOG</h4></button>
        <button id="other-things"><h4>OTHER THINGS</h4></button>
      </div>

      <!-- Content area (this is where content replaces buttons) -->
      <div id="content-display" style="display: none;"></div>

      <!-- Back button -->
      <button id="back-btn" style="display: none;">Back</button>

    </div>
    <!----------------------------- END OF: Clickable Buttons ---------------------------------->

  </section>

  <script src="./js/about.js"></script>
</body>
</html>
